<div class="col-md-4">
  <div class="blogitemlist_box">
    <div class="blogitemlist_imagebox">
      <div class="blogitemlist_image"  >
        <%= link_to image_tag(blogpost.blogimage_url.to_s, alt: blogpost.alternative_text), blogpost %>
      </div>
    </div>
    <% if blogpost.title.length > 50 && blogpost.title.length < 75 %>
      <div class="blogitemlist_title longline">
    <% elsif blogpost.title.length > 75 %>
      <div class="blogitemlist_title verylongline">
    <% else %>
      <div class="blogitemlist_title">
    <% end %>
      <h3><%= link_to blogpost.title, blogpost %></h3>
    </div>
    <div class="blogitemlist_text">
      <p><%= truncate(blogpost.text, length: 300) %><p>
    </div>
    <div class="blogitemlist_taglist">
      <% blogpost.tags.sort{|left, right| left.tag_name.downcase <=> right.tag_name.downcase}.each do |tag| %>
        <div class="blogitemlist_tag">
          <%= tag.tag_name %><br />
        </div>
      <% end %>
    </div>
    <div>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_blogpost_path(blogpost) %>
    <% end %>
    </div>
  </div>
</div>
