<div class="col-md-4">
  <div class="blogitemlist_box">
    <div class="blogitemlist_imagebox">
      <div class="blogitemlist_image"  >
        <%= link_to image_tag(blogpost.blogimage_url.to_s), blogpost %>
      </div>
    </div>
    <div class="blogitemlist_title">
      <h3><%= link_to blogpost.title, blogpost %></h3>
    </div>
    <div class="blogitemlist_text">
      <p><%= truncate(blogpost.text, length: 300) %><p>
    </div>
    <div class="blogitemlist_taglist">
      <% blogpost.tags.each do |tag| %>
        <div class="blogitemlist_tag">
          <%= tag.tag_name %><br />
        </div>
      <% end %>
    </div>
    <div>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_blogpost_path(blogpost) %>
    <% end %>
    </div>
  </div>
</div>
