<div class="portfolioitem_image">
  <%= image_tag @blogpost.blogimage_url.to_s %>
</div>

<p>
  <strong>Title:</strong>
  <%= @blogpost.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= markdown(@blogpost.text) %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @blogpost.featured %>
</p>

<% @tags.each do |tag| %>
  <div>
    <%= tag.tag_name %><br />
  </div>
<% end %>

<%= link_to 'Edit', edit_blogpost_path(@blogpost) %> |
<%= link_to 'Back', blogposts_path %>
<%= link_to 'Delete', blogpost_path, method: 'delete' %>
