<%= form_for(portfolio_item, type: :file) do |f| %>
  <% if portfolio_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio_item.errors.count, "error") %> prohibited this portfolio_item from being saved:</h2>

      <ul>
      <% portfolio_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.label :tags %><br />
    <% @tags.each do |tag|  %>
      <%= check_box_tag "portfolio_item[tag_ids][]", tag.id, portfolio_item.tags.include?(tag) %>
      <%= tag.tag_name %><br />
    <% end %>

  </div>

  <div class="form-group">
    <%= f.label :live_url %>
    <%= f.text_field :live_url %>
  </div>
  <div class="form-group">
    <%= f.label :gh_url %>
    <%= f.text_field :gh_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
