<div class="col-md-4">
  <div class="portitemlist_box">
    <div class="portitemlist_imagebox">
      <div class="portitemlist_image"  >
        <%= link_to image_tag(portfolio_item.image_url.to_s, alt: portfolio_item.alternative_text ), portfolio_item %>
      </div>
    </div>
    <% if portfolio_item.title.length > 50 && portfolio_item.title.length < 75 %>
      <div class="portitemlist_title longline">
    <% elsif portfolio_item.title.length > 75 %>
      <div class="portitemlist_title verylongline">
    <% else %>
      <div class="portitemlist_title">
    <% end %>
      <h3><%= link_to portfolio_item.title, portfolio_item %></h3>
    </div>
    <div class="portitemlist_text">
      <p><%= truncate(portfolio_item.text, length: 300) %><p>
    </div>
    <div class="portitemlist_taglist">
      <% portfolio_item.tags.sort{|left, right| left.tag_name.downcase <=> right.tag_name.downcase}.each do |tag| %>
        <div class="portitemlist_tag">
          <%= tag.tag_name %><br />
        </div>
      <% end %>
    </div>
    <div>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_portfolio_item_path(portfolio_item) %>
    <% end %>
    </div>
  </div>
</div>
