<div class="col-md-6">
  <div class="portfolioitem_image">
    <%= image_tag @portfolio_item.image_url.to_s %>
  </div>
  <% if @portfolio_item.live_url %>
  <h5><%= link_to "Link to the website", @portfolio_item.live_url %></h5>
  <% end %>
  <% if @portfolio_item.gh_url %>
  <h5><%= link_to "Link to the GitHub repo", @portfolio_item.gh_url %></h5>
  <% end %>
</div>

<div class="col-md-6">

<div class="portitem_title">
  <h1><%= @portfolio_item.title %></h1>
</div>

<div class="portitem_specs">
  <%= @portfolio_item.created_at.strftime("%e %B %Y") %>
</div>

<div class="porttags">
  <% @tags.sort.each do |tag| %>
      <div class="portitemlist_tag">
        <%= tag.tag_name %><br />
      </div>
  <% end %>
</div>

<div class="portitem_text">
  <p>
    <%= markdown(@portfolio_item.text) %>
  </p>
</div>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_portfolio_item_path(@portfolio_item) %> |
  <%= link_to 'Delete', portfolio_item_path, method: 'delete' %>
<% end %>
</div>
