
<div class="col-md-6">
  <div class="portfolioitem_image">
    <%= image_tag @portfolio_item.image_url.to_s %>
  </div>
</div>

<div class="col-md-6">
<h1><%= @portfolio_item.title %></h1>

<p>
  <%= markdown(@portfolio_item.text) %>
</p>

<% @tags.each do |tag| %>
  <div>
    <%= tag.tag_name %><br />
  </div>
<% end %>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_portfolio_item_path(@portfolio_item) %> |
  <%= link_to 'Delete', portfolio_item_path, method: 'delete' %>
<% end %>
</div>
