<div class="nav">
  <div class="container">
    <div class="logobar col-md-3 col-sm-11 col-xs-10">
      <div class="logo">
        <%= image_tag 'nui-logo-open.png' %>
      </div>
      <div class="name_header">
        <%= link_to "MARK NUIVER", root_path %>
      </div>
    </div>
    <div class="menu col-md-9">
      <ul>
        <li><%= link_to "BLOG", blogposts_path %></li>
        <li><%= link_to "PORTFOLIO", portfolio_items_path %></li>
        <li><%= link_to "ABOUT ME", about_path %></li>
        <li><%= link_to "CONTACT", contact_path %></li>
        <li><a href="https://www.linkedin.com/in/marknuiver" target="_blank" class="fa fa-linkedin-square"></a></li>
        <li><a href="https://www.facebook.com/nuiver" target="_blank" class="fa fa-facebook-official"></a></li>
        <li><a href="https://twitter.com/marknuiver" target="_blank" class="fa fa-twitter"></a></li>
        <li><a href="https://github.com/nuiver" target="_blank" class="fa fa-github"></a></li>
    </div>
    <div id="menumenu_div" class="minimenu col-sm-1 col-xs-2">
      <div id="minimenu_icon" class="hamburger fa fa-bars"></div>
    </div>
  </div>
  <div class="flash_messages">
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </div>
  <div id="dropdown" class="container">
    <!-- Minumenu renders here with jQuery append method -->
  </div>
</div>
